<header>
  <nav class="navbar">
    <span class="hamburger-btn material-symbols-rounded">menu</span>
    <a routerLink="/" class="logo">
      <img src="logo.jpg" alt="logo">
      <h2>MHEI</h2>
    </a>
    <ul class="links">
      <span class="close-btn material-symbols-rounded">close</span>
      <li><a routerLink="/felszerelesek">Felszerelések</a></li>
      <li><a routerLink="/helyszinek">Helyszínek</a></li>
      <li><a routerLink="/esemenyek">Események</a></li>
      <li><a routerLink="/informaciok">Információk</a></li>
      <li><a routerLink="/kapcsolat">Kapcsolat</a></li>
      <li class="language-dropdown">
        <a href="#" class="language-selector">
          <img src="hun.png" alt="Hungarian Flag">
        </a>
        <ul class="language-menu">
          <li><a routerLink="/americanindex" class="language-option"><img src="usa.png" alt="American Flag"></a></li>
          <li><a routerLink="/englishindex" class="language-option"><img src="uk.png" alt="English Flag"></a></li>
          <li><a routerLink="/germanindex" class="language-option"><img src="ger.png" alt="German Flag"></a></li>
          <li><a routerLink="/russianindex" class="language-option"><img src="rus.png" alt="Russian Flag"></a></li>
          <li><a routerLink="/chineseindex" class="language-option"><img src="chine.png" alt="Chinese Flag"></a></li>
          <li><a routerLink="/ukraine" class="language-option"><img src="ukraine.png" alt="Ukrainian flag"></a></li>
        </ul>
      </li>
      <button class="login-btn">Bejelentkezés</button>
    </ul>
  </nav>
</header>

<div class="blur-bg-overlay"></div>
<router-outlet></router-outlet>